@model BookListMVC.Models.DevicePin
@using SmartWatering.Util;
@{
    ViewData["Title"] = "Create";
    var Chips = ViewBag.Chips;
}

<div class="row">
    <div class="col-6">
        <h2 class="h3 mb-2 text-gray-800 text-info">Create Device pin </h2>
    </div>

</div>
<hr />

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow mb-4  ">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary"></h6>
                </div>
                <div class="card-body">
                    <div class="row ">
                        <form asp-action="Create" class="col-12 justify-content-center">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group row justify-content-center">
                                <label asp-for="PinType" class="control-label col-4"></label>
                                <select asp-for="PinType" class="form-control col-5">
                                    @{foreach (var e in (PinType[])Enum.GetValues(typeof(PinType)))
                                        {
                                            <option value="@e">@e</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="PinType" class="text-danger"></span>
                            </div>

                            <div class="form-group row justify-content-center">
                                <label asp-for="PIN" class="control-label col-4"></label>
                                <input asp-for="PIN" class="form-control col-5">
                                <span asp-validation-for="PIN" class="text-danger"></span>
                            </div>
                            <div class="form-group row justify-content-center">
                                <label asp-for="chipId" class="control-label col-4"></label>
                                <select asp-for="chipId" class="form-control col-5">
                                    @{foreach (var e in Chips)
                                        {
                                            <option value="@e">@e</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="chipId" class="text-danger"></span>
                            </div>
                            <div class="form-group row justify-content-center">
                                <label asp-for="Description" class="control-label col-4"></label>
                                <input asp-for="Description" class="form-control col-5">
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>

                            <div class="form-group row justify-content-center">
                                <input type="submit" value="Create" class="btn btn-primary btn-icon-split btn-lg  col-3 " />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-controller="DevicePins" asp-action="Index">Back to List</a>
</div>

