
@{
    ViewBag.Title = "Forbidden";
    Layout = "_Layout";
}
<p class="lead text-gray-800 mb-5">@ViewBag.ErrorMessage</p>
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="403">403</div>
        <p class="lead text-gray-800 mb-5"></p>
        <p class="text-gray-500 mb-0">Access denied. You don't have permission to access this resource.</p>
        <a asp-controller="home" asp-action="index">&larr; Back to Dashboard</a>
    </div>

</div>
<!-- /.container-fluid -->
