@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/realtime-chart.css" />

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Water level</div>
                            <div id="level-water" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                        </div>
                        <div class="col-auto">
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Average Temperature</div>
                            <div id="avg-tem" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-temperature-low fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Average Humidity</div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div id="avg-hum" class="h5 mb-0 mr-3 font-weight-bold text-gray-800"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-tint fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Average Moisture</div>
                            <div id="avg-moi" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-tint fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="gauge1">
                <div class="gauge__body1">
                    <div class="gauge__fill1"></div>
                    <div class="gauge__cover1"></div>
                </div>
            </div>
            <div class=" row justify-content-center">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Water level</div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="gauge2">
                <div class="gauge__body2">
                    <div class="gauge__fill2"></div>
                    <div class="gauge__cover2"></div>
                </div>
            </div>
            <div class=" row justify-content-center">
                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Temperature</div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="gauge3">
                <div class="gauge__body3">
                    <div class="gauge__fill3"></div>
                    <div class="gauge__cover3"></div>
                </div>
            </div>
            <div class=" row justify-content-center">
                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Humidity</div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="gauge4">
                <div class="gauge__body4">
                    <div class="gauge__fill4"></div>
                    <div class="gauge__cover4"></div>
                </div>
            </div>
            <div class=" row justify-content-center">
                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Moisture</div>
            </div>
        </div>
    </div>
    <!-- Content Row -->


    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Sensor Value Overview</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/min/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.6.0"></script>

    <script src="~/js/realtime-chart/chartjs-plugin-streaming.js"></script>
    <script src="~/js/realtime-chart/realtime-chart.js"></script>
    <script src="~/js/dashboard.js"></script>
